#carousel1 .carousel {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.carousel .carousel__item {
  float: left;
}

.carousel .carousel__container {
  transition: transform 0.6s ease;
}

.carousel .carousel__container::after {
  content: "";
  clear: both;
  display: table;
}

.carousel .carousel__next, #carousel1 .carousel .carousel__prev {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  background-color: white;
  transform: translateY(50%);
  border-radius: 50%;
  margin-top: -20px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.carousel .carousel__next {
  right: 20px;
}

.carousel .carousel__prev {
  left: 20px;
}

.carousel .carousel__next--hidden, .carousel .carousel__prev--hidden {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.carousel .carousel__play, .carousel .carousel__stop {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.carousel .carousel__stop {
  display: none;
  right: 5%;
  bottom: 50px;
}

.carousel .carousel__play {
  right: 5%;
  bottom: 50px;
}

.carousel .item {
  display: block;
  color: white;
  text-align: center;
}

.carousel .item__body {
  background-color: white;
  color: black;
  padding: 5px;
}

.carousel .item .img {
  height: 350px;
  width: auto;
  padding: 30px 30px;
}

.flex-display {
  display: flex;
  align-items: center;
}

#card {
  height: 350px;
}

.mapboxgl-ctrl-bottom-left {
  top: 0;
  left: 0;
}

/* form */
.userform input {
  text-align: center;
}

#infostation_id {
  text-align: justify;
}
.validate {
  min-width: 150px;
  margin: 10px auto;
}
.veloindispo {
  color: red;
}

.velodispo {
  color: green;
}

#info_address {
  text-align: center;
  padding: 20px 20px 0px;
}

p {
  margin: 0;
}



/* modal */
#modal__container {
  position: fixed;
  top: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99999;
  transition: transform 0.2s ease-in-out;
}

#modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  margin: auto;
}

#canvas {
  width: 100%;
  top: 0px;
  right: 0;
  left: 0;
  border: grey dotted;
}

@media all and (min-width: 768px) {
  #canvas {
    width: 400px;
    height: 200px;
  }
}

#canvasDiv {
  padding: 10% 25%;
  height: 100%;
}

@media all and (max-width: 425px) {
  #canvasDiv {
    padding: 20% 12%;
  }
}

#validate_canvas {
  z-index: 1000;
  position: absolute;
  right: 20px;
  top: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#timer {
  display: flex;
  justify-content: center;
  font-size: 36px;
  color: white;
  text-align: center;
}
#secondes{
  margin-left: 5px;
}
.is--hidden {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.is--visible {
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}

#close__toggle {
  position: absolute;
  left: 20px;
  top: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.btnCtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#checkout {
  padding: 0px 30px 30px;
}

/* timer */
#infoTimer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px;
}

#info_address {
  color: white;
}
